#ignore folders
natives/*
minecraft/config/*
minecraft/coremods/*
minecraft/journeymap/*
minecraft/llibrary/*
minecraft/local/*
minecraft/logs/*
minecraft/mods/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/screenshots/*
minecraft/server-resource-packs/*
minecraft/shaderpacks/*
minecraft/texturepacks/*

# ignore files
Conquest_Industrial_Arcane.code-workspace
instance.cfg
minecraft/.ReAuth.cfg
minecraft/BotaniaVars.dat
minecraft/crafttweaker.log
minecraft/icon.png
minecraft/knownkeys.txt
minecraft/options.txt
minecraft/optionsof.txt
minecraft/patchouli_data.json
minecraft/usercache.json
minecraft/usernamecache.json

#do not ignore these folders
!minecraft/config/brandon3055
!minecraft/config/brandon3055/CSG
#but still ignore these
minecraft/config/brandon3055/*.cfg
minecraft/config/brandon3055/*.txt
minecraft/config/brandon3055/ProjectIntelligence/*

#do not ignore these files
!minecraft/config/geolosys.json
!minecraft/config/quark.cfg