#ignore folders
minecraft/config/*
minecraft/coremods/*
minecraft/crash-reports/*
minecraft/journeymap/*
minecraft/llibrary/*
minecraft/local/*
minecraft/logs/*
minecraft/mods*/*
minecraft/mods/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/screenshots/*
minecraft/server-resource-packs/*
minecraft/shaderpacks/*
minecraft/texturepacks/*
natives/*
server/config/*
server/Dregora*/*
server/journeymap/*
server/libraries/*
server/llibrary/*
server/local/*
server/logs/*
server/mods/*

# ignore files
.packignore
*.log
Conquest_Industrial_Arcane.code-workspace
instance.cfg
minecraft/.ReAuth.cfg
minecraft/BotaniaVars.dat
minecraft/crafttweaker.log
minecraft/icon.png
minecraft/knownkeys.txt
minecraft/options.txt
minecraft/optionsof.txt
minecraft/optionsshaders.txt
minecraft/patchouli_data.json
minecraft/usercache.json
minecraft/usernamecache.json
server/1.12.2.json
server/banned-ips.json
server/banned-players.json
server/crafttweaker.log
server/Dregora*.zip
server/eula.txt
server/forge-*.jar
server/minecraft_server.1.12.2.jar
server/minecraft_server.1.12.2/*
server/ops.json
server/server.zip
server/usercache.json
server/usernamecache.json
server/whitelist.json


#do not ignore these folders
!minecraft/config/adminshop
!minecraft/config/brandon3055
!minecraft/config/brandon3055/CSG
!minecraft/config/ftbquests
!minecraft/config/gemsplusplus
#but still ignore these
minecraft/config/brandon3055/*.cfg
minecraft/config/brandon3055/*.txt
minecraft/config/brandon3055/ProjectIntelligence/*

#do not ignore these files
!minecraft/config/bonsaitrees
!minecraft/config/geolosys.json
!minecraft/config/quark.cfg
!minecraft/config/solcarrot.cfg
!minecraft/config/tips.cfg